.git
.github
**/.git
**/node_modules
**/.next
**/target
**/.quarkus
**/.pnpm-store
**/test-results
**/playwright-report
**/.env
**/.env.*
!**/.env.example
**/coverage
**/*.log
apps/web/e2e/.fixture.json
testing/appium/node_modules
testing/appium/reports
.idea
.vscode
